* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding-bottom: 20px;
}

[class^="col"] {
  background: lightcyan;
  outline: 1px solid gray;
}